html {
  font-family: 'Helvetica', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 20px;
}


.center {
  display: block;
  width: 50%;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

.center a {
  color: black;
  text-decoration: none;
  float: bottom;
  transition: 0.3s;
}

.center a:hover {
  color: #b50000;
}

.banner {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-weight: bolder;
  font-size: 15vw;
  width: 100vw;
}

.banner a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.banner a:hover {
  color: #b50000;
}

.panel {
  /* panel effects */
  margin-left: 5vw; margin-right: 5vw;
  margin-top: 5vh; margin-bottom: 5vh;
  display: flex;

  /* make it POP */
  box-shadow: 0px 0px 15px grey;
  border-radius: 7px;

  /* Create the parallax scrolling effect + scaling */
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;

  /* add the overlay */
  position: relative;
  z-index: 1;
}

.panel overlay {
  /* overlay effects */
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 10vh; padding-bottom: 10vh;
  padding-right: 10vw; padding-left: 10vw;
  display: table-cell;

  /* text */
  color: black;
  line-height: 1.6;
  font-size: 20px;
  font-weight: lighter;

  /* make it POP */
  border-radius: 7px;
  transition: 0.4s;
}

.panel overlay:hover {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 10px grey;
}

/* title */
.panel overlay t {
  font-weight: bold;
  font-size: 24px;
}

/* header */
.panel overlay h {
  font-weight: bold;
  font-size: 22px;
}

/* caption */
.panel overlay c {
  font-weight: bold;
}

/* link */
.panel overlay a {
  color: inherit;
}


#about {
  padding-top: 25vh; 
  padding-bottom: 25vh;
  box-shadow: 0px 0px 15px #555555;
  background-color: rgba(255, 255, 255, 0.6);
}

#about:hover {
  box-shadow: 0px 0px 15px #333333;
  background-color: rgba(255, 255, 255, 0.7);
}

/* 2 columns */
.column2 {
  float: left;
  width: 50%;
}

.column2 a {
  color: black;
  float: bottom;
}

/* 3 columns */
.column3 {
  float: left;
  width: 33%;
}

.column3 img {
  color: black;
  float: bottom;
  margin-left: 2vw; margin-right: 2vw;
  width: 90%;
  border-radius: 7px;
  transition: 0.3s;
}

#house:hover {
  background-color: rgba(126, 211, 237, 0.4);
  box-shadow: 0px 0px 15px grey;
}

#psoft:hover {
  background-color: rgba(132, 204, 110, 0.4);
  box-shadow: 0px 0px 15px grey;
}

#h2w:hover {
  background-color: rgba(220, 169, 245, 0.4);
  box-shadow: 0px 0px 15px grey;
}

#celine {
  background-image: url(images/h2w/celine.jpg); 
  height: 70vh;
}

#celine a {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  transition: 0.2s;
}

#celine a:hover {
  background-color: rgba(126, 211, 237, 0);
  box-shadow: 0px 0px 10px grey;
}

#adam {
  background-image: url(images/h2w/adam.jpg); 
  height: 70vh;
}

#adam a {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  transition: 0.2s;
}

#adam a:hover {
  background-color: rgba(126, 211, 237, 0);
  box-shadow: 0px 0px 10px grey;
}

#arthik {
  background-image: url(images/h2w/arthik.jpg); 
  height: 70vh;
}

#arthik a {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  transition: 0.2s;
}

#arthik a:hover {
  background-color: rgba(126, 211, 237, 0);
  box-shadow: 0px 0px 10px grey;
}

#colin {
  background-image: url(images/h2w/colin.jpg); 
  height: 70vh;
}

#colin a {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  transition: 0.2s;
}

#colin a:hover {
  background-color: rgba(126, 211, 237, 0);
  box-shadow: 0px 0px 10px grey;
}

#jose {
  background-image: url(images/h2w/jose.jpg); 
  height: 70vh;
}

#jose a {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  transition: 0.2s;
}

#jose a:hover {
  background-color: rgba(126, 211, 237, 0);
  box-shadow: 0px 0px 10px grey;
}

#alice {
  background-image: url(images/h2w/alice.gif); 
  height: 70vh;
}

#alice a {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  transition: 0.2s;
}

#alice a:hover {
  background-color: rgba(126, 211, 237, 0);
  box-shadow: 0px 0px 10px grey;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media only screen and (max-width: 768px) {
   [class=".panel button"] {
    left: 20vw;
  }
}
