html {
  font-family: 'Helvetica', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 20px;
}


.center {
  display: block;
  width: 50%;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

.center a {
  color: black;
  text-decoration: none;
  float: bottom;
  transition: 0.3s;
}

.center a:hover {
  color: #b50000;
}

.banner {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-weight: bolder;
  font-size: 15vw;
  width: 100vw;
}

.banner a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.banner a:hover {
  color: #b50000;
}

.panel {
  /* panel effects */
  margin-left: 5vw; margin-right: 5vw;
  margin-top: 5vh; margin-bottom: 5vh;
  display: flex;

  /* make it POP */
  box-shadow: 0px 0px 15px grey;
  border-radius: 7px;

  /* Create the parallax scrolling effect + scaling */
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;

  /* add the overlay */
  position: relative;
  z-index: 1;
}

.panel overlay {
  /* overlay effects */
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 10vh; padding-bottom: 10vh;
  padding-right: 10vw; padding-left: 10vw;
  display: table-cell;

  /* text */
  color: black;
  line-height: 1.6;
  font-size: 20px;
  font-weight: lighter;

  /* make it POP */
  border-radius: 7px;
  transition: 0.4s;
}

.panel overlay:hover {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 10px grey;
}

/* title */
.panel overlay t {
  font-weight: bold;
  font-size: 24px;
}

/* header */
.panel overlay h {
  font-weight: bold;
  font-size: 22px;
}

/* caption */
.panel overlay c {
  font-weight: bold;
}

/* link */
.panel overlay a {
  color: inherit;
}


/* 2 columns */
.column {
  float: left;
  width: 50%;
}

.column a {
  color: black;
  float: bottom;
}

.row {
  padding-left: 15vw;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 768px) {
   [class=".panel button"] {
    left: 20vw;
  }
}
